@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 480px;
  margin: 0 auto;
}

[data-testid='toastAnimatedContainer'] {
  z-index: 99999 !important;
}

[data-testid='toastAnimatedContainer'] > div {
  height: auto !important;
}
